<div class="filters-container">
<%= simple_form_for @search do |s| %>
  <h4>Precio</h4>
  <div class="prices-dropdowns">
    <div class="dropdown">
      <%= s.input :min_price, collection: [60000, 70000, 80000, 90000] %>

      <!-- <select name="min-price">
        <option value="60000">60.000 &euro;</option>
        <option value="70000">70.000 &euro;</option>
        <option value="80000">80.000 &euro;</option>
        <option value="90000">90.000 &euro;</option>
        <option value="100000">100.000 &euro;</option>
        <option value="110000">110.000 &euro;</option>
        <option value="120000">120.000 &euro;</option>
      </select> -->

    </div>
    <div class="dropdown">
      <%= s.input :max_price, collection: [60000, 70000, 80000, 90000] %>

<!--       <select name="max-price">
        <option value="60000">60.000 &euro;</option>
        <option value="70000">70.000 &euro;</option>
        <option value="80000">80.000 &euro;</option>
        <option value="90000">90.000 &euro;</option>
        <option value="100000">100.000 &euro;</option>
        <option value="110000">110.000 &euro;</option>
        <option value="120000">120.000 &euro;</option>
      </select> -->

    </div>
  </div>

      <h4>Tamaño</h4>
    <div class="sizes-dropdowns">
      <div class="dropdown">
        <%= s.input :min_size, collection: [20, 30, 40, 50] %>

<!--
        <select name="min-size">
          <option value="40">40 m<sup>2</sup></option>
          <option value="60">60 m<sup>2</sup></option>
          <option value="80">80 m<sup>2</sup>sup></option>
          <option value="100">100 m<sup>2</sup></option>
          <option value="120">120 m<sup>2</sup></option>
          <option value="140">140 m<sup>2</sup></option>
          <option value="160">160 m<sup>2</sup></option>
        </select> -->

      </div>
      <div class="dropdown">
        <%= s.input :max_size, collection: [20, 30, 40, 50] %>
<!--         <select name="max-size">
          <option value="40">40 m<sup>2</sup></option>
          <option value="60">60 m<sup>2</sup></option>
          <option value="80">80 m<sup>2</sup></option>
          <option value="100">100 m<sup>2</sup></option>
          <option value="120">120 m<sup>2</sup></option>
          <option value="140">140 m<sup>2</sup></option>
          <option value="160">160 m<sup>2</sup></option>
        </select> -->

      </div>
    </div>
    <h4>Habitaciones</h4>
      <%= s.input :num_rooms, collection: [1, 2, 3, 4] %>
      <!-- <div class="bedroom-filters">
        <div class="bedroom-filter-cell">
          <input  id="hab_todos" name="num_rooms" type="radio" value="Todos" class="bedroom-filter-input">
          <label for="todos" class="bedroom-filter-label">Todos</label>
        </div>
        <div class="bedroom-filter-cell">
          <input id="hab_1" type="radio" name="num_rooms" value="1" class="bedroom-filter-input">
          <label for="hab_1" class="bedroom-filter-label">1</label>
        </div>
        <div class="bedroom-filter-cell">
          <input id="hab_2" type="radio" name="num_rooms" value="2" class="bedroom-filter-input">
          <label for="hab_2" class="bedroom-filter-label">2</label>
        </div>
        <div class="bedroom-filter-cell">
          <input id="hab_3" type="radio" name="num_rooms" value="3" class="bedroom-filter-input">
          <label for="hab_3" class="bedroom-filter-label">3</label>
        </div class="bedroom-filter-cell">
        <div class="bedroom-filter-cell">
          <input id="hab_4" type="radio" name="num_rooms" value="4" class="bedroom-filter-input">
          <label for="hab_4" class="bedroom-filter-label">4</label>
        </div>
      </div>
 -->
 <%= s.button :submit, class: "btn-primary" %>
 <% end %>
<!--     <button class="btn-ver-inmuebles" type="submit">Ver inmuebles</button> -->
<!-- </form> -->
</div>




























