      <div class="card-apartment">
        <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1346&q=80" alt="Spacious room in the city center">
        <div class="card-infos">
          <p><%= apartment.title %></p>
          <p><%= apartment.price %></p>
          <p><%= apartment.sqm %></p>
          <p><%= apartment.number_of_bedrooms %></p>
          <p><%= apartment.number_of_bathrooms %></p>
        </div>
      </div>
